extends ../../layout/default.pug
include ../../mixins/box-head.pug 
include ../../mixins/product-layout.pug 

block content 
    //- #{chat}
    .section-products-featured.my-5 
        .container 
            include ../../partials/buttonUser.pug
            .row 
                .col-12 
                    +box-head(`Chat`)
            
            .row 
                .col-12 
                    .chat(my-id = user.id)
                        .inner-body 
                            each item in chat
                                div(class=(item.user_id === user.id ? "inner-outgoing" : "inner-incoming" )) 
                                    if(item.user_id !== user.id)
                                        .inner-name #{item.userName} 
                                    if item.content
                                        .inner-content 
                                            | #{item.content}
                                    if item.image
                                        .inner-image 
                                            each i in item.image 
                                                img(src=i)
                            div(class='inner-list-typing')

                        .inner-preview-image 
                            div(class="custom-file-container" data-upload-id="my-unique-id") 

                        .inner-foot 
                            form(
                                class='inner-form'
                                action=''
                            )
                                input(
                                    type='text'
                                    palaceholder='Nhập nội dung'
                                    name='content'
                                )
                                label(for="file-upload-with-preview-my-unique-id" class='btn btn-primary mx-2 mb-0') <i class="fa-solid fa-image"></i>
                                span(class='btn btn-primary mx-2 button-icon') <i class="fa-solid fa-face-smile"></i>
                                button 
                                    i.fa-solid.fa-paper-plane 
   
    div(class='tooltip' role='tooltip')
        emoji-picker

block script 
    <script type='module' src='/js/chat.js'></script>