extends ../../layout/default.pug
include ../../mixins/box-head.pug 
include ../../mixins/product-layout.pug 

block content 
    //- #{chat}
    .section-products-featured.my-5 
        .container 
            .row 
                .col-12 
                    +box-head(`Chat`)
            
            .row 
                .col-12 
                    .chat 
                        .inner-body 
                            each item in chat
                                div(class=(item.user_id === user.id ? "inner-outgoing" : "inner-incoming" )) 
                                    if(item.user_id !== user.id)
                                        .inner-name #{item.userName} 
                                    .inner-content 
                                        | #{item.content}
                                //- .inner-outgoing 
                                //-     .inner-content 
                                //-         |    Thế à
                        .inner-foot 
                            form(
                                class='inner-form'
                                action=''
                            )
                                input(
                                    type='text'
                                    palaceholder='Nhập nội dung'
                                    name='content'
                                ) 
                                button 
                                    i.fa-solid.fa-paper-plane 