extends ../../layout/default.pug
include ../../mixins/box-head.pug 
include ../../mixins/product-layout.pug 

block content 
    //- #{chat}
    .section-products-featured.my-5 
        .container 
            .row 
                .col-12 
                    +box-head(`Chat`)
            
            .row 
                .col-12 
                    .chat(my-id = user.id)
                        .inner-body 
                            each item in chat
                                div(class=(item.user_id === user.id ? "inner-outgoing" : "inner-incoming" )) 
                                    if(item.user_id !== user.id)
                                        .inner-name #{item.userName} 
                                    .inner-content 
                                        | #{item.content}
                            div(class='inner-list-typing')
                            //-     div(class='box-typing')
                            //-         div(class='inner-name') VVT 
                            //-         div(class='inner-dots')
                            //-             span 
                            //-             span 
                            //-             span 
                            //-     div(class='box-typing')
                            //-         div(class='inner-name') HPT 
                            //-         div(class='inner-dots')
                            //-             span 
                            //-             span 
                            //-             span 
                                    
                                //- .inner-outgoing 
                                //-     .inner-content 
                                //-         |    Thế à
                        .inner-foot 
                            form(
                                class='inner-form'
                                action=''
                            )
                                input(
                                    type='text'
                                    palaceholder='Nhập nội dung'
                                    name='content'
                                )
                                span(class='btn btn-primary mx-2 button-icon') <i class="fa-solid fa-face-smile"></i>
                                button 
                                    i.fa-solid.fa-paper-plane 
    div(class='tooltip' role='tooltip')
        emoji-picker
